body {
    background-color: #2f2f2f;
    text-align: center;  
}

h1 {
    color: green;
    font-family: sans-serif;
}

p {
    color: white;
}

.h1-404 {
    color: red;
}

.a-404 {
    color: yellow;      
}

